@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
body{
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   color: #6C757D;
   font-size: 14px;
}
.article {
	padding-top: 80px;
}
h2{
font-size: 25px;
font-weight: 700;
line-height: 1.6;
color: #212529;
margin-bottom: 40px;
max-width: 605px;
}

[class*='__container']{
   max-width: 1270px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

.article__text{
   max-width: 816px;
   margin: 0 auto 80px;
}

p{
   margin-bottom: 30px;
   line-height: 1.78;
}
.images1 {
   margin-bottom: 80px;
   font-size: 0;
   max-width: 100%;
}
.image{
   max-width: 100%;
}
.girl{
   margin-right: 30px;
}

.images2 {
   margin-bottom: 100px;
   font-size: 0;
}
.article2__text{
   max-width: 816px;
   margin: 0 auto 100px;
}
.paragrafts{
   margin-bottom: 100px;
}
.suits{
   margin-right: 30px;
}

.practice {
   border: 2px solid #212529;
}
.practiceblock_border {
   border: 8px dotted red;
}
.practiceinline_border {
   border: 8px dotted red;
}

.practiceinlineblock_border {
   border: 8px dotted red;
}
.practiceblock_outline {
   outline: 8px dotted green;
}
.practiceinline_outline {
   outline: 8px dotted green;
}
.practiceinlineblock_outline {
   outline: 8px dotted green;
}
.practiceblock_border-radius {
   border-radius: 20%;
   background-color: yellow;
}
.practiceinline_border-radius {
   border-radius: 20%;
   background-color: yellow;
}
.practiceinlineblock_border-radius {
   border-radius: 50%;

}
.practiceblock_box-shadow {
   box-shadow: inset 10px 10px 30px 0px rgba(231, 224, 20, 0.563); 
}
.practiceinline_box-shadow {
   box-shadow: 10px 5px 20px 10px rgba(231, 224, 20, 0.563);
}
.practiceinlineblock_box-shadow {
   box-shadow: 10px 10px 30px 20px rgba(231, 224, 20, 0.563);
}
.practiceblock_opacity {
   opacity: 0.8;
}
.practiceinline_opacity {
   opacity: 0.4;
}
.practiceinlineblock_opacity {
   opacity: 0.2;
}
.practiceblock_visibility {
   visibility: hidden;
}
.practiceinline_visibility {
   visibility: visible;
}
.practiceinlineblock_visibility {
   visibility: hidden;
}

.last{
   border: 5px solid #6C757D;
   background-color: rgba(205, 98, 98, 0.48);
   font-size: 20px;
}