@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
body{
   font-family: 'Poppins', 'Arial', sans-serif;
}
main{
   max-width: 1240px;
   margin: 0 auto;
}
.first-part, .second-part, .text{
   max-width: 816px;
   margin: 0 auto 80px;
}
h2{
   font-size: 25px; 
   font-weight: 700;
   line-height: 40px;
   margin-bottom: 40px;
   max-width: 605px;
}
.title1{
   max-width: 400px;
}
.text{
   font-size: 14px;
   font-weight: 300;
   line-height: 25px;
   color: #6C757D;
}
p{
   margin-bottom: 50px;
}
p.last, .desert, .images {
   margin-bottom: 80px;
}
.images{
   font-size: 0;
}
.girl{
   margin-right: 30px;
}
